* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 12px;
    text-align: left;
}

a {
  color: darkblue;
  font-style: normal;
  text-decoration: none;
}

a.header {
  font-size: 132%;
  margin-left: 8px;
  margin-right: 8px;
}

body {
    background-color: gainsboro;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

div.content {
  margin-left: 12%;
  margin-right: 12%;
}

div.header {
  margin-left: 8%;
  margin-right: 8%;
}

hr.header {
  background-color: black;
  border-width: 0px;
  height: 2px;
  margin-top: 12px;
  padding: 0px;
  width: 100%;
}