* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 12px;
    text-align: left;
}

a {
  color: darkblue;
  font-style: normal;
  text-decoration: none;
}

a.header {
  font-size: 132%;
  margin-left: 8px;
  margin-right: 8px;
}

body {
    background-color: gainsboro;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  font-size: 112%;
  margin-top: 8px;
  padding: 4px;
}

button.actionButton {
  font-size: 100%;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0px;
}

div.content {
  margin-left: 12%;
  margin-right: 12%;
}

div.header {
  margin-left: 8%;
  margin-right: 8%;
}

h2 {
  padding: 8px;
}

hr.header {
  background-color: black;
  border-width: 0px;
  height: 2px;
  margin-top: 12px;
  padding: 0px;
  width: 100%;
}

table {
  border: 1px solid;
  border-collapse: collapse;
}

td, th, tr {
  text-align: left;
  border: 1px solid;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
}